@use "../../styles/variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.beer-card-container {
    border-top: 3vh solid $secondary-background;
    margin-top: 12vh;
    padding-top: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    justify-items: center;
    clear: both;
    color: $color-primary;
}