@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Catamaran:wght@400&family=Oswald:wght@500&display=swap');

// fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Bangers', cursive;
$paragraph-font: 'Catamaran', sans-serif;

// background colors
$primary-background: #ededed;
$secondary-background: black;

// text colors
$color-primary: black;
