@use "../../styles/variables" as *;

.filters-list {
    margin: 2vh 5vw;
    display: flex;
    gap: 2vw;
    font-family: $primary-font;
    font-size: 2ch;
    color: $color-primary;
    float: right;
    height: 10vh;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .filters-list{
        font-size: 15px;
        margin: 1vh 2vw;
    }
}